<!-- footer section -->
<footer class="footer">
  <div class="navigation">
    <a class="logo_link" href="#">
      <img src="/assets/logo.png" alt="MhsOptics" />
    </a>
    <div class="nav__container">
      <div class="sub__nav">
        <h2 class="sub__nav--head"><%= __('inside_mhsoptics') %></h2>
        <ul class="nav">
          <li class="nav__item">
            <a class="nav__link" href="/about"> <%= __('our_story') %> </a>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="/contact"> <%= __('contact_us') %> </a>
          </li>
        </ul>
      </div>
      <div class="sub__nav">
        <h2 class="sub__nav--head"><%= __('support') %></h2>
        <ul class="nav">
          <li class="nav__item">
            <a class="nav__link" href="/returns">
              <%= __('return_policy') %>
            </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/garantee"> <%= __('garantie') %> </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/shipping">
              <%= __('shipping_and_delevry') %>
            </a>
          </li>
        </ul>
      </div>
      <div class="sub__nav">
        <h2 class="sub__nav--head"><%= __('s_media') %></h2>
        <ul class="nav">
          <li class="nav__item">
            <a class="nav__link" href="#"> Instagram </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#"> Facebook </a>
          </li>
        </ul>
      </div>
      <div class="sub__nav">
        <h2 class="sub__nav--head"><%= __('p_m') %></h2>
        <ul class="nav">
          <img src="/assets/payment.svg" />
        </ul>
      </div>
    </div>
    <div class="copyrights">
      <p class="copyright_text">
        <span>&copy;</span>
        <a href="/">mhsoptics</a>
        <span class="year"></span>
      </p>
      <div class="policy">
        <a href="#"> <%= __('terms_Condition') %> </a>
        <a href="#"> <%= __('privacy_Notice') %> </a>
      </div>
    </div>
  </div>
</footer>
;
