<div class="page_header">
  <div class="navigation">
    <a href="/">Home</a>
    <span class="siparetor">/</span>
    <div class="subtitle"><%= __('customer_service') %></div>
  </div>
</div>
<div class="contact__section section">
  <div class="contact_img">
    <img src="/assets/contact.svg" alt="contact us" />
  </div>
  <div class="contact_info">
    <h1><%= __('customer_service') %></h1>
    <p><%= __('phone_number') %> :</p>
    <span>+32 46 638 28 58</span>
    <p><%= __('email') %> :</p>
    <a href="mailto:support@mhsoptics.be">support@mhsoptics.be</a>
    <p><%= __('opning') %> :</p>
    <span><%= __('time') %></span>
    <a href="mailto:support@mhsoptics.be" class="contact"
      ><%= __('contact us') %></a
    >
  </div>
</div>
