<!-- section password -->
<section class="forrgot_section section">
  <form class="forggot_password_form forggot_password" id="forggot_form">
    <div class="container">
      <h1><%= __('forggot_password') %></h1>
      <p><%= __('forggot_password_text') %></p>
      <img src="/assets/forggot.svg" alt="?" />
      <label for="email_forggot"><b><%= __('email') %></b></label
      ><input
        id="email_forggot"
        type="text"
        placeholder="<%= __('email_placeholder') %> "
        name="email"
        required=""
      /><button class="forggotBtn primary_button" type="submit">
        <%= __('send') %>
      </button>
    </div>
  </form>
</section>
