<div class="page_header">
  <div class="navigation">
    <a href="/">Home</a>
    <span class="siparetor">/</span>
    <div class="subtitle"><%= __('about') %></div>
  </div>
</div>
<div class="garantie__section section">
  <div class="garantie_img">
    <img src="/assets/story.svg" alt="Our Story" />
  </div>
  <div class="garantie_info story_info">
    <p><%=__('about_parag') %></p>
    <p><%= __('about_parag1') %></p>
    <p><%= __('about_parag2') %></p>
    <p><%= __('about_parag3') %></p>
    <p><%= __('about_parag4') %></p>
    <p><%= __('about_parag5') %></p>
    <p><%= __('about_parag6') %></p>
    <p><%= __('about_parag7') %></p>
    <p><%= __('about_parag8') %></p>
    <p><%= __('about_parag9') %></p>
    <p><%= __('about_parag10') %></p>
    <p><%= __('about_parag11') %></p>
    <p><%= __('about_parag12') %></p>
    <p><%= __('about_parag13') %></p>
    <p><%= __('about_parag14') %></p>
    <p><%= __('about_parag15') %></p>
    <p><%= __('about_parag16') %></p>
    <p><%= __('about_parag17') %></p>
    <p><%= __('about_parag18') %></p>
    <p><%= __('about_parag19') %></p>
    <p><%= __('about_parag20') %></p>
    <p><%= __('about_parag21') %></p>
    <p><%= __('about_parag22') %></p>
  </div>
</div>
