<!-- section password -->
<section class="forrgot_section section">
  <form action="" class="register_form password--form">
    <div class="container">
      <h1><%= __('recover_password') %></h1>
      <p><%= __('recover_pass_text') %></p>
      <label for="password"><% __('password') %></label
      ><input
        type="password"
        placeholder="<%= __('password_placeholder') %>"
        name="password"
        required=""
        id="password"
      />
      <label for="passwordConfirm"> <%= __('confirm_pass_label') %> </label>
      <input
        type="password"
        placeholder="<%= __('confirm_pass') %> "
        name="passwordConfirm"
        required=""
        id="passwordConfirm"
      />
      <button class="loginBtn" type="submit"><%= __('save') %></button>
    </div>
  </form>
</section>
