extends base

block content
  section.all_products
    .filter_toggle
      a.filter_btn(href='#!')
        span.material-icons  filter_alt 
        | Filter
    .filter_container
      .filter_by_gender.filter
        .filter_title
          span.title gender
        .checkbox_wraper
          input#men(type='checkbox' name='productGender' value='men')
          label(for='men') Men
        .checkbox_wraper
          input#women(type='checkbox' name='productGender' value='women')
          label(for='women') Women
        .checkbox_wraper
          input#kids(type='checkbox' name='productGender' value='kids')
          label(for='kids') Kids
      .filter_by_frame_type.filter
        .filter_title
          span.title Frame type
        .checkbox_wraper
          input#fullrim(type='checkbox' name='frameType' value='fullrim')
          label(for='fullrim') fullrim
        .checkbox_wraper
          input#halfrim(type='checkbox' name='frameType' value='halfrim')
          label(for='halfrim') halfrim
        .checkbox_wraper
          input#rimless(type='checkbox' name='frameType' value='rimless')
          label(for='rimless') rimless
      .filter_by_shape.filter
        .filter_title
          span.title Shape
        .checkbox_wraper
          input#rectangular(type='checkbox' name='shape' value='rectangular')
          label(for='rectangular') rectangular
        .checkbox_wraper
          input#pilot(type='checkbox' name='shape' value='pilot')
          label(for='pilot') pilot
        .checkbox_wraper
          input#round(type='checkbox' name='shape' value='round')
          label(for='round') round
        .checkbox_wraper
          input#square(type='checkbox' name='shape' value='square')
          label(for='square') square
        .checkbox_wraper
          input#browline(type='checkbox' name='shape' value='browline')
          label(for='browline') browline
      .filter_by_frames_color.filter
        .filter_title
          span.title Frame color
        .checkbox_wraper
          input#black(type='checkbox' name='colors' value='black')
          label(for='black') black
        .checkbox_wraper
          input#blue(type='checkbox' name='colors' value='blue')
          label(for='blue') blue
        .checkbox_wraper
          input#brown(type='checkbox' name='colors' value='brown')
          label(for='brown') brown
        .checkbox_wraper
          input#gold(type='checkbox' name='colors' value='gold')
          label(for='gold') gold
        .checkbox_wraper
          input#green(type='checkbox' name='colors' value='green')
          label(for='green') green
        .checkbox_wraper
          input#grey(type='checkbox' name='colors' value='grey')
          label(for='grey') grey
        .checkbox_wraper
          input#orange(type='checkbox' name='colors' value='orange')
          label(for='orange') orange
        .checkbox_wraper
          input#pink(type='checkbox' name='colors' value='pink')
          label(for='pink') pink
        .checkbox_wraper
          input#purple(type='checkbox' name='colors' value='purple')
          label(for='purple') purple
        .checkbox_wraper
          input#red(type='checkbox' name='colors' value='red')
          label(for='red') red
        .checkbox_wraper
          input#silver(type='checkbox' name='colors' value='silver')
          label(for='silver') silver
        .checkbox_wraper
          input#transparent(type='checkbox' name='colors' value='transparent')
          label(for='transparent') transparent
        .checkbox_wraper
          input#white(type='checkbox' name='colors' value='white')
          label(for='white') white
        .checkbox_wraper
          input#yellow(type='checkbox' name='colors' value='yellow')
          label(for='yellow') yellow
      .filter_by_frame_material.filter
        .filter_title
          span.title Frame material
        .checkbox_wraper
          input#metal(type='checkbox' name='frameMatirial' value='metal')
          label(for='metal') metal
        .checkbox_wraper
          input#plastic(type='checkbox' name='frameMatirial' value='plastic')
          label(for='plastic') plastic
        .checkbox_wraper
          input#titanium(type='checkbox' name='frameMatirial' value='titanium')
          label(for='titanium') titanium
    .catalogue_all.best_seller
      .prods
        if products 
          each p in products
            .product_cart
              img.product_preview(src=`/img/products/${p.images[0]}` alt=`${p.title}`)
              span.product_title= p.title
              a.product_actions(href=`/product/${p.id}`)
                span.price=p.price
                span.try_on
                  span.material-icons  videocam 
     
      .load_more_data
         span.load_more_btn load more items

       
            


