<div class="page_header">
  <div class="navigation">
    <a href="/">Home</a>
    <span class="siparetor">/</span>
    <div class="subtitle"><%= __('shipping_and_delevry') %></div>
  </div>
</div>

<div class="shipping_section section">
  <div class="shipping_img garantie_img">
    <img src="/assets/ship.svg" alt="shipping" />
  </div>
  <div class="garantie_info shipping_info">
    <h1><%= __('shipping_and_delevry') %></h1>
    <p><%= __('shipping_parag_one') %></p>
    <p><%= __('shipping_parag_two') %></p>
    <div class="return_remarque remaque_lite">
      <p><%= __('shipping_remarque') %></p>
    </div>
    <p><%= __('shipping_parag_three') %></p>
    <p><%= __('shipping_parag_fore') %></p>
    <p><%= __('shipping_parag_five') %> <a href="/"><%= __('tos') %> </a>.</p>
    <h3><%= __('dod_term') %></h3>
    <p><%= __('shipping_parag_six') %></p>
    <p><%= __('shipping_parag_seven') %></p>
    <h4><%= __('produce') %></h4>
    <ul>
      <li><%= __('stage1') %></li>
      <li><%= __('stage2') %></li>
      <li><%= __('stage3') %></li>
      <li><%= __('stage4') %></li>
      <li><%= __('stage5') %></li>
    </ul>
    <h3><%= __('more_days') %></h3>
    <ul>
      <li><%= __('delevery') %></li>
      <li><%= __('shipping_time') %></li>
    </ul>
    <p><%= __('shipping_parag_eate') %> <a href="/"><%= __('tos') %> </a> )</p>
    <p><%= __('shippping_parag_nine') %></p>
  </div>
</div>
